* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: bisque;
    height: 80px;

}

footer {
    background-color: coral;
    height: 80px;
    /*Si quisiera hacerlo con fixed, serían estas tres lineas, pero la barra de footer quedaria siempre en la misma posición*/
    /* position: fixed;
    bottom: 0;
    width: 100%;*/
}

.wrapper {
    background-color: rgb(128, 131, 128);
    font-size: 5em;
    /*Le calcula la altura del viewport menos footer*/
    min-height: calc(100vh - 160px);
}